{% block lae_lock_bar %}
<div class="lae-lock-bar">

    {# IDLE - no lock yet #}
    <template v-if="variant === 'idle'">
        <mt-banner
            variant="info"
            :title="$tc('lae-admin-lock.bar.idleTitle')">
            {{ $tc('lae-admin-lock.bar.idleHint') }}

            <div class="lae-lock-bar__actions">
                <mt-button
                    variant="primary"
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitLock">
                    {{ $tc('lae-admin-lock.bar.lockBtn') }}
                </mt-button>
            </div>
        </mt-banner>
    </template>

    {# OWNED BY ME, THIS SESSION #}
    <template v-else-if="variant === 'owned'">
        <mt-banner
            variant="positive"
            :title="$tc('lae-admin-lock.bar.ownedTitle')">
            <p>{{ $tc('lae-admin-lock.bar.ownedHint', { until: formattedExpiresAt }, 0) }}</p>

            <div class="lae-lock-bar__actions">
                <mt-button
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitUnlock">
                    {{ $tc('lae-admin-lock.bar.unlockBtn') }}
                </mt-button>
                <mt-button
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitRefresh">
                    {{ $tc('lae-admin-lock.bar.refreshBtn') }}
                </mt-button>
            </div>
        </mt-banner>
    </template>

    {# OWNED BY ME, ANOTHER TAB #}
    <template v-else-if="variant === 'ownedElsewhere'">
        <mt-banner
            variant="attention"
            :title="$tc('lae-admin-lock.bar.ownedElsewhereTitle')">
            {{ $tc('lae-admin-lock.bar.ownedElsewhereHint') }}

            <div class="lae-lock-bar__actions">
                <mt-button
                    variant="primary"
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitLock">
                    {{ $tc('lae-admin-lock.bar.takeOverHereBtn') }}
                </mt-button>
                <mt-button
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitRefresh">
                    {{ $tc('lae-admin-lock.bar.refreshBtn') }}
                </mt-button>
            </div>
        </mt-banner>
    </template>

    {# FOREIGN LOCK #}
    <template v-else>
        <mt-banner
            variant="attention"
            :title="$tc('lae-admin-lock.bar.foreignTitle', { owner: ownerLabel }, 0)">
            <p>{{ $tc('lae-admin-lock.bar.foreignHint', { since: formattedLockedAt, until: formattedExpiresAt }, 0) }}</p>
            <p v-if="state.note" class="lae-lock-bar__note">
                <strong>{{ $tc('lae-admin-lock.bar.note') }}:</strong> {{ state.note }}
            </p>

            <div class="lae-lock-bar__actions">
                <mt-button
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitRefresh">
                    {{ $tc('lae-admin-lock.bar.refreshBtn') }}
                </mt-button>
                <mt-button
                    v-if="canForceUnlock"
                    variant="critical"
                    size="small"
                    :isLoading="loading"
                    :disabled="loading"
                    @click="emitForceUnlock">
                    {{ $tc('lae-admin-lock.bar.forceUnlockBtn') }}
                </mt-button>
            </div>
        </mt-banner>
    </template>

</div>
{% endblock %}
